.wrapper {
  min-height: 500pxs;
}

.container {
  margin-top: 2%;
  margin-left: 10%;
  width: 80%;
  min-height: 500px;
  background-color: var(--hover);
  color: black;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
}

.title {
  min-height: 50px;
  line-height: 50px;
  text-align: center;
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 60px;
  font-weight: 500;
}

.field {
  min-width: 110px;
  font-weight: 600;
}

.input {
  flex: 0.5;
  border-bottom: 1px solid var(--primary);
}

.link {
  text-decoration: none;
}

.btn {
  display: block;
  width: 150px;
  height: 50px;
  margin: 60px 0px;
  border-radius: 20px;
  border-style: none;
  outline-color: var(--hover);
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  color: var(--primary);
  background-color: #fff;
  font-size: 1.6rem;
  font-weight: 700;

  &:hover {
    background-color: var(--primary);
    color: #fff;
    cursor: pointer;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  display: block;
  min-width: 300px;
  min-height: 200px;
  position: relative;
  background-color: var(--primary);
  padding: 20px;
  border-radius: 20px;
  border-style: none;
  outline-color: var(--hover);
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
}

.modal-close {
  display: block;
  width: 80px;
  height: 40px;
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  border-style: none;
  outline-color: var(--hover);
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  color: var(--primary);
  background-color: #fff;
  font-size: 1.6rem;

  &:hover {
    background-color: var(--hover);
    color: #fff;
    cursor: pointer;
  }
}

.modal-img {
  display: block;
  width: 600px;
  height: 400px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
}

@media (max-width: 1025px) {
  /* Styles for screens up to 1025px wide */
  .modal-content {
    width: 90%;
  }

  .modal-img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 821px) {
  /* Styles for screens up to 821px wide */
  .form {
    width: 100%;
    top: 5%;
  }

  .container {
    width: 100%;
    margin-left: 0;
  }
  .img-hold {
    margin-left: 30px;
  }

  .img-input {
    p {
      font-size: small;
    }
  }

  .image {
    width: 100px;
    height: 100px;
  }

  .modal-content {
    width: 90%;
  }

  .modal-img {
    width: 100%;
    height: 100%;
  }

  .modal-info {
    text-align: center;
    font-size: medium;
  }
}
