.wrapper {
  --header-height: 60px;
  position: relative;
  height: var(--header-height);
  background-color: var(--primary);
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
}

.header {
  display: flex;
  justify-content: space-around;
  font-weight: 900;
  font-size: 2.4rem;
}

.home {
  line-height: var(--header-height);
}

.icon {
  margin: 0 4px;
}

.link {
  text-decoration: none;
  color: var(--text-color);
  padding: 16px;
}

.title {
  line-height: var(--header-height);
}

.logout {
  text-decoration: none;
  text-align: center;
  line-height: calc(var(--header-height) - 6px);
  width: 100px;
  height: calc(var(--header-height) - 6px);
  margin-top: 3px;
  border-radius: 20px;
  border-style: none;
  outline-color: var(--hover);
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  color: var(--primary);
  background-color: #fff;
  font-size: 1.6rem;
  font-weight: 700;

  &:hover {
    background-color: var(--hover);
    color: #fff;
    cursor: pointer;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  display: block;
  min-width: 300px;
  min-height: 150px;
  position: relative;
  background-color: var(--primary);
  padding: 20px;
  border-radius: 20px;
  border-style: none;
  outline-color: var(--hover);
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
}

.yes,
.no {
  display: inline-block;
  width: 100px;
  height: 40px;
  position: absolute;
  top: 55%;
  left: 30%;
  transform: translateX(-50%);
  border-radius: 20px;
  border-style: none;
  outline-color: var(--hover);
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  color: var(--primary);
  background-color: #fff;
  font-size: 1.8rem;
  font-weight: 700;

  &:hover {
    background-color: var(--hover);
    color: #fff;
    cursor: pointer;
  }
}

.no {
  left: 69%;
}

@media (max-width: 1025px) {
  /* Styles for screens up to 1025px wide */
}

@media (max-width: 821px) {
  /* Styles for screens up to 821px wide */
  .title {
    font-size: medium;
  }

  .span {
    display: none;
  }

  .logout {
    width: 50px;
    height: 50px;
  }

  .modal-content {
    max-width: 90%;
  }

  .modal-title {
    font-size: medium;
  }
}
